<%= render "devise/shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を豊かにするダイエットアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      人生を豊かにするダイエットアプリ
    </h2>
    <p class='service-explain'>
      自分に合ったPFCバランスを見つけ
    </p>
    <p class='service-explain'>
      ダイエットを促進するためのアプリです
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
      <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
    </div>
  </div>

  <%# PANDAの特徴 %>
  <div class='feature-contents'>
    <h2 class='title'>
      PANDAの特徴
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "target.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          1日の目標カロリーが分かる
        </h3>
        <p class='feature-list-description'>
          体重と体脂肪率を入力したら自動で計算されます。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "graph.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          摂取カロリーをグラフで表示
        </h3>
        <p class='feature-list-description'>
          体重とカロリーの推移がグラフで表示され、自分の頑張りが目に見えることで継続に繋がります。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "calendar.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          食事をカレンダーで管理
        </h3>
        <p class='feature-list-description'>
          毎日の食事を振り返ることができます。
        </p>
      </li>
    </ul>
  </div>
  <%# /PANDAの特徴 %>

    <div class='item-contents'>
    <h2 class='title'>自動カロリー計算</h2>
    <div class="subtitle" >
      目標値を計算する
    </div>
    <ul class='item-lists'>

      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, new_calculation_path %>さんの目標値を計算する</li>
      <% end %>
    </ul>

    <%# トップページの計算結果の値の表示を検討中 %>
      <%# @calculation.each do |calculation| %>
      <li class='list'>
        <%#= link_to calculation_path(calculation.id) do %>
        <div class='item-img-content'>
    <%# トップページの計算結果の値の表示を検討中 %>


<canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

<%= link_to(new_dietrecord_path, class: 'record-btn') do %>
  <span class='record-btn-text'>記録する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "record-btn-icon" %>
<% end %>
<%= render "devise/shared/footer" %>