<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('icon.png' , size: '185x50'), "/" %>

  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">商品の情報を入力</h2>
    <%= form_with model: @dietrecord,local: true do |f| %>

    <%#= render 'shared/error_messages', , url: user_session_path, model: f.object %>


    <%# 食事画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        食事画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :hoge, id:"item-image" %>
      </div>
    </div>
    <%# /食事画像 %>

    <%# 食事名と食事内容のメモ %>
    <div class="new-items">
      <div class="weight-bold-text">
        食事名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :food, class:"items-text", id:"item-name", placeholder:"食事名（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          メモ
        </div>
        <%= f.text_area :text, class:"items-text", id:"item-info", placeholder:"食事内容のメモ" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /食事名と食事内容のメモ %>

    <%# カロリー・PFCの詳細 %>
    <div class="items-detail">
      <div class="weight-bold-text">カロリー・PFCの詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          <p>
          カロリー
          <div class="field">
              <%#= f.label :"カロリー" %>
              <%= f.number_field :calorie, step: '0.1' %>
              <a>kcal</a>
          </div>
          </p>
          <p>
          タンパク質
          <div class="field">
              <%#= f.label :"タンパク質" %>
              <%= f.number_field :protein, step: '0.1' %>
              <a>g</a>
          </div>
          </p>
          <p>
          脂質
          <div class="field">
              <%#= f.label :"脂質" %>
              <%= f.number_field :fat, step: '0.1' %>
              <a>g</a>
            </div>
          </p>
          <p>
          炭水化物
            <div class="field">
              <%#= f.label :"炭水化物" %>
              <%= f.number_field :carbo, step: '0.1' %>
              <a>g</a>
            </div>
          </p>
    </div>
  </div>
    <%# /商品の詳細 %>



    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "登録する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>
</div>


  <footer class="items-sell-footer">

    <%= link_to image_tag('icon.png' , size: '185x50'), "/" %>
  </footer>
